/* Colors */
$brand-main-color: #fca311;
$black-color: #000000;
$dark-color: #14213d;
$light-color: #e5e5e5;
$link-color: #fca311;
$button-color: #fca311;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Big Shoulders Stencil Text", Helvetica, Arial;
$regular-font: "Roboto Condensed", Helvetica, Arial;